body{
   background-color: green;
}
@media screen and (max-width:638px){
    body{
        background-color:blue;
    }
}
@media screen and (max-width:450px){
    body{
        background-color:red;
    }
}